@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}

#blob {
    background-color: white;
    height: 15vmax;
    width: 20vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, #00FFFF, mediumpurple);
    animation: rotate 20s infinite;
    opacity: 0.8;
    filter: blur(7vmax);
    z-index: 0;
}
