/* main info window ======================================= */
.indexPage {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/backgroundNightCity.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.window {
    position: relative;
    top: 15%;
    left: 10%;
    height: 70%;
    width: 80%;
    background: transparent;
    border: 1px solid rgba(255,255,255, .5);
    border-radius: 0.7em;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10mm rgba(0,0,0,.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.window .placeholder {
    position: relative;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

/* others ================================================= */

#title {
    font-family: smooth;
    font-size: 15vw;
}