.wrapper {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.wrapper::-webkit-scrollbar {
  display: none;
}
/* main info window ======================================= */
.indexPage {
    overflow: hidden;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #F4E8C1;
    z-index: 1;
    background-image: url(/images/backgroundNightCity.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.window {
    position: relative;
    top: 15%;
    left: 10%;
    height: 70%;
    width: 80%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window .windowWrap {
    cursor: default;
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255,255,255, .5);
    border-radius: 3mm;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10mm rgba(0,0,0,.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.window .text {
    position: relative;
    width: 100%;
    text-align: center;
}

.window .text .title {
    font-family: smooth;
    font-size: 15vw;
}

.window .text .br {
    display: block;
    height: 0;
    width: 0;
    margin-bottom: 5vh;
}


/* programs =============================================== */

.about {
    text-align: center;
    background-color: #F4E8C1;
    color: #331E38;
    padding: 10vh 10vw;
}

.menu {
    text-align: center;
    background-color: #F4E8C1;
    color: #331E38;
    padding: 10vh 10vw;
}

.menuFlex {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.menuFlex a {
    overflow: hidden;
    position: relative;
    height: 5cm;
    width: 27vw;
    color: #F4E8C1;
    margin: 0.5em;
    border-radius: 3mm;
    text-decoration: none;
    transition: transform 1s;
}

.menuFlex a .text {
    position: relative;
    display: flex;
    border-radius: 0.7em;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.2);
    color: #F4E8C1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 2;
    padding: 0.5em;
    padding-left: 1em;
}

.menuFlex a img {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3mm;
    background-color: #121212;
    object-fit: cover;
    z-index: 1;
    transition: transform 1s;
}

.menuFlex a:hover img {
    transform: scale(1.1);
}
