.wrapper {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    perspective: 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.wrapper::-webkit-scrollbar {
  display: none;
}
/* main info window ======================================= */
.indexPage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #F4E8C1;
    transform-style: preserve-3d;
    z-index: -1;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    transform: translateZ(-10px) scale(2);
    background: url(/images/backgroundNightCity.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.window {
    position: relative;
    height: 70%;
    width: 80%;
    background: transparent;
    display: flex;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    justify-content: center;
    align-items: center;
    transform: translateZ(-5px) scale(1.5);
    z-index: 2;
}

.window .placeholder {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255,255,255, .5);
    border-radius: 0.7em;

    box-shadow: 0 0 10mm rgba(0,0,0,.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.window .placeholder .text {
    position: relative;
    width: 100%;
    text-align: center;
}

.window .placeholder .text .title {
    font-family: smooth;
    font-size: 15vw;
}

.window .placeholder .text .br {
    display: block;
    height: 0;
    width: 0;
    margin-bottom: 5vh;
}


/* programs =============================================== */

.about {
    text-align: center;
    background-color: #F4E8C1;
    color: #331E38;
    padding: 10vh 15vw;
}
