body {
    overflow: hidden;
}

.wrapper {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #121212;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.wrapper::-webkit-scrollbar {
  display: none;
}
* {z-index: 1;}
/* main info window ======================================= */
.titlePage {
    overflow: hidden;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


.window {
    position: relative;
    height: 100%;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window .windowWrap {
    cursor: default;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.window .text {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
    padding: 3mm;
}

.window .text .title {
    font-size: 15vw;
}

.window .text .br {
    display: block;
    height: 0;
    width: 0;
    margin-bottom: 5vh;
}

.window .text h1 {
    color: #F4E8C1;
}

.window .text .githubTitleWrapper {
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.window .text .githubTitle {
    position: relative;
    border-radius: 3mm;
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: ph;
    font-size: 8vw;
    color: #FFF;
    margin-top: 5mm;
    padding: 3vw;
}


.window .text .second {
    position: relative;
    color: #000;
    background-color: #FFA31A;
    border-radius: 3mm;
    padding: 2vw;
    margin-left: 1mm;
}

/* program list ======================================= */

.programs {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.programsList {
    position: relative;
    display: flex;
    color: #F4E8C1;
    font-size: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50vw;
}



.programs .title {
    font-size: 5vw;
}

.programs .descriptions {
    font-size: 2vw;
}

.programsWrapperOuter {
    position: relative;
    display: flex;
    width: 35vw;
    height: 30vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 5vw;
}

.programsWrapper {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    border-radius: 3mm;
    -webkit-backdrop-filter: blur(200px);
    backdrop-filter: blur(200px);
    padding: 7vw;
}
/*
.programsWrapper:before {
    content: '';
    position: absolute;
    align-self: center;
    width: 15vw;
    height: 250%;
    color: #FFF;
    background: linear-gradient(#00ccff,#d400d4);
    animation: rotate 6s linear infinite;
}

.programsWrapper:after {
    content: '';
    position: absolute;
    inset: 0.5vw;
    background: #121212;
    border-radius: 3mm;
}
*/


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
