body {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
.wrapper {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.wrapper::-webkit-scrollbar {
  display: none;
}
* {z-index: 1;}
/* main info window ======================================= */
.titlePage {
    overflow: hidden;
    display: flex;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30vh;
    background-color: #121212;
    justify-items: center;
    align-items: center;
    z-index: 1;
}

.titlePage .title {
    width: 100%;
    text-align: center;
    color: #F4E8C1;
    font-size: 7vw;
}

/* infos ======================================= */

.infoSec {
    background-color: #F4E8C1;
    padding: 10mm;
}

.info {
    padding: 10mm;
    transition: all 0.5s;
}

.infoSec:hover .info:not(:hover) {filter: blur(2px); -webkit-filter: blur(2px);}

.codeBlock {
    background-color: rgba(0,0,0,0.2);
    padding: 0.2mm 1mm;
    margin: 0.2mm;
    border-radius: 2mm;
}
