:root {
    --topBarHeight: 10%;
}

@font-face {
    font-family: hacked;
    src: url(/fonts/Hacked-KerX.ttf);
}
@font-face {
    font-family: smooth;
    src: url(/fonts/SmoothElegantRegular-ZLv3.ttf);
}
@font-face {
    font-family: liga;
    src: url(/fonts/LigaJetBrainsMonoNerdFont-Regular.ttf);
}
@font-face {
    font-family: big;
    src: url(/fonts/Big500-8MLOM.ttf);
}

@font-face {
    font-family: ph;
    src: url(/fonts/ORIOND.ttf);
}

@font-face {
    font-family: singleDay;
    src: url(/fonts/SingleDay-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

/* animations ============================================= */

@keyframes bigga {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@keyframes load {
    from {
        filter: blur(32px);
        backdrop-filter: blur(32px);
        transform: scale(2);
    }
}

/* page setup ============================================= */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: liga;
    transition-timing-function: ease;
}


body {
    top: 0;
    left: 0;
    overflow: hidden;
    animation-name: load;
    animation-duration: 0.5s;
    background: #101214;
}

/* topbar styles ========================================== */

header {
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .space {
    height: 20px;
}

.navBarContainer {
    position: relative;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.navBar {
    position: relative;
    display: flex;
    border-radius: 100em;
    overflow: hidden;
    gap: 5px;
}

.navBar .url {
    background: rgba(16, 18, 20, 0.6);
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.5s;
}

.navBar .url:hover {
    width: 170px;
}

.navBar a {
    font-size: 5mm;
    text-transform: capitalize;
    text-align: center;
    text-decoration: none;
    color: #F4E8C1;
    height: 100%;
    width: 100%;
}

.navBar a .center {
    width: 100%;
    height: 100%;
}

/* other ================================================== */

.contents {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

section {
    position: relative;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* blobs ========================================================== */

@keyframes rotate {
	from {
		rotate: 0deg;
	}
	
	50% {
		scale: 1 1.5;
	}
	
	to {
		rotate: 360deg;
	}
}

.blob {
    min-height: 75%;
    min-width: 75%;
    /* aspect-ratio: 1; */
    background-color: #fff;
    background: -webkit-gradient(linear, left top, right top, from(#00FFFF), to(mediumpurple));
    background: linear-gradient(90deg,#0ff,#9370db);
    border-radius: 50%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: blur(7vmax);
    -webkit-filter: blur(7vmax);
    height: 15vmax;
    left: 50%;
    opacity: .8;
    position: absolute;
    top: 50%;
    translate: -50% -50%;
    width: 20vmax;
    z-index: 0;
    animation-fill-mode: forwards;
}


.sblob {
    background-color: white;
    height: 15vmax;
    width: 20vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: conic-gradient(#00FFFF, mediumpurple);
    animation: rotate 20s infinite;
    opacity: 0.8;
    filter: blur(7vmax);
    -webkit-filter: blur(7vmax);
    z-index: -1;
    
}