:root {
    --topBarHeight: 10%;
}

@font-face {
    font-family: hacked;
    src: url(/fonts/Hacked-KerX.ttf);
}
@font-face {
    font-family: smooth;
    src: url(/fonts/SmoothElegantRegular-ZLv3.ttf);
}
@font-face {
    font-family: liga;
    src: url(/fonts/LigaJetBrainsMonoNerdFont-Regular.ttf);
}
@font-face {
    font-family: big;
    src: url(/fonts/Big500-8MLOM.ttf);
}
@font-face {
    font-family: ph;
    src: url(/fonts/ORIOND.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

/* animations ============================================= */

@keyframes bigga {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@keyframes load {
    from {
        -webkit-filter: blur(32px);
        -moz-filter: blur(32px);
        -o-filter: blur(32px);
        -ms-filter: blur(32px);
        -webkit-backdrop-filter: blur(32px);
        backdrop-filter: blur(32px);
        transform: scale(2);
    }
}

/* page setup ============================================= */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: liga;
    transition-timing-function: ease;
}


body {
    top: 0;
    left: 0;
    overflow: hidden;
    animation-name: load;
    animation-duration: 0.5s;
}

/* topbar styles ========================================== */

header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    justify-content: space-between;
    align-items:center;
    background: color(0, 0, 0, .1);
    z-index: 1000;
    background-color: #331E38;
    padding: 0 10px;
    transition: all 0.5s
}

header * {
    transition: all 0.5s;
}

.navBar a {
    position: relative;
    height: 100%;
    font-size: 5mm;
    text-transform: capitalize;
    text-align: center;
    text-decoration: none;
    margin-left: 5mm;
    margin-right: 5mm;
    padding-top: 3mm;
    padding-bottom: 3mm;
    color: #F4E8C1;
}

.navBar:active,
.navBar:hover,
header:active,
header:hover {
    transform: scale(1.005);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.navBar .left a {float: left;}
.navBar .right a {float: right;}

.navBar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1mm;
    background: #F4E8C1;
    border-radius: 1mm;
    transform: scaleX(0);
}

.navBar a:hover::after {
    transform: scaleX(1);
}


.navBar a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1mm;
    background: #F4E8C1;
    border-radius: 1mm;
    transform: scaleX(1);
}

/* other ================================================== */

.contents {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

section {
    position: relative;
}
